---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/Navbar.astro";
import { Image } from "astro:assets";
import EB_Quator_Memoire_1 from "../../photos/EB_Quatuor_Memoire_1.jpg";
import EB_Quator_Memoire_2 from "../../photos/EB_Quatuor_Memoire_2.jpg";
import EB_Quator_Memoire_3 from "../../photos/EB_Quatuor_Memoire_3.jpg";
import EB_Quator_Memoire_4 from "../../photos/EB_Quatuor_Memoire_4.jpg";
import EB_Quator_Memoire_5 from "../../photos/EB_Quatuor_Memoire_5.jpg";
import EB_Quator_Memoire_6 from "../../photos/EB_Quatuor_Memoire_6.jpg";
import Portrait_Audreanne from "../../photos/Portrait_Audréanne.jpg";
import Portrait_Bailey from "../../photos/Portrait_Bailey.jpg";
import Portrait_Marilou from "../../photos/Portrait_Marilou.jpg";
import Portrait_Meggie from "../../photos/Portrait_Meggie.jpg";
import Quator_Memoire_Performance from "../../photos/Quatuor-Memoire_performance.jpg";

const currentLocale = Astro.url.pathname.startsWith("/en") ? "en" : "fr";

const bios = [
  "Violinist Bailey Wantuch specializes in contemporary and 20th-century music. Based in Montréal, she is the co-founder of the new music ensembles Collectif Radiance and Quatuor Mémoire. Recently, she appeared as a soloist with the McGill University Contemporary Music Ensemble, performing Kaija Saariaho’s violin concerto Graal Théâtre. Other notable performances include concerts with Ensemble Paramirabo and the opening concert of the Montréal Ligeti Festival. A dedicated collaborator, she works closely with local composers and has participated in festivals such as soundSCAPE, Fresh Inc, and the Composers Conference. She has also served as faculty for the new music program at the Domaine Forget Academy.\nAn active chamber musician, Bailey has performed internationally. Her piano trio, Trio Miltenberg, has appeared in Québec, Newfoundland, and Germany. She has also performed with Quatuor Æternum in the Netherlands, in series such as Muziekkamer Assen. As a violinist of Quatuor Mémoire, she has performed at the Festival Montréal/Nouvelles Musiques 2025 and Québec musiques parallèles. The quartet’s debut album, featuring works by Florence Tremblay, Louis-Michel Tougas, and Olivier St-Pierre, will be released in fall 2025 on the label Mnémosyne.\nBailey earned her Bachelor of Music from Northwestern University (studying with Blair Milton) and her Master of Music from McGill University (studying with Violaine Melançon). She is currently pursuing a Doctorate in Musical Performance at McGill University, supported by a Fonds de recherche du Québec (FRQ) scholarship for her research on the music of composer Nikolai Roslavets.",
  "Graduated from the Conservatoire de musique de Montréal (Master’s degree) and McGill University (Post-Graduate Artist Diploma), Meggie Lacombe is a violinist recognized for her versatility.\nSpecializing in contemporary, experimental, and multidisciplinary music, she actively contributes to the creation and performance of new works, notably within the contexts of Akousma, the Radiance Collective, and the Société de musique contemporaine du Québec (SMCQ).\nAs a chamber musician, Meggie has taken part in the Domaine Forget Chamber Music Academy, where she had the privilege of performing alongside Steven Dann and Marc Fewer. She has been a member of the Quatuor Mémoire since its founding in 2024.\nConcertmaster of the Orchestre symphonique de la Côte-Nord, she demonstrates equal mastery in orchestral performance, also performing with the Orchestre de l’Agora, I Musici de Montréal Chamber Orchestra, the Orchestre Symphonique de l’Estuaire, and several other orchestras across Quebec.\nDriven by a desire to integrate other artistic disciplines into her musical practice, Meggie pursued parallel studies in dramaturgy and stage direction at UQAM while completing her conservatory training. This interest led to a collaboration with the collective L’Éléphante for the youth theatre production Hercule et Naïade, performed nearly thirty times across Quebec, for which she served as both sound designer and performer.\nHer artistic practice is characterized by a pursuit of authentic musical expression, an exploration of aesthetic paradigms, and a continual search for forms of performance that transcend established traditions — motivating her sustained interest in new music and violin extended techniques.",
  "Originally from Québec City, violist Marilou Lepage began her musical studies on the violin at the Conservatoire de musique de Québec, in the class of Julie Cossette. At 19, she moved to Montréal to continue her studies at UQAM, where she completed a Bachelor’s degree in performance (viola) under Frédéric Lambert. She then earned both a Graduate Diploma and a Master’s degree in Performance in the class of André Roy at McGill University’s Schulich School of Music.\nMarilou has had the opportunity to perform with numerous ensembles on the classical scene in Montréal and Québec, including the Orchestre symphonique de Montréal, Orchestre de l’Agora, Ensemble Obiora, Orchestre symphonique de Québec, Orchestre symphonique de Drummondville, Orchestre symphonique de Sherbrooke, the Orchestre Philharmonique et Chœur des Mélomanes, and the Ensemble Urbain.\nAlso active on Montreal’s the pop scene, she has had the opportunity to perform on stage with Simon Leoza (Montreal International Jazz Festival in 2021, ADISQ Gala) and Ambre Ciel (Francouvertes 2021 final), recordings for numerous projects (Moment Factory, Fuudge, Barrdo, Oli Laroche, Cédrik St-Onge, Karolan Boily, etc.), and participate in major television shows such as En Direct de l'Univers, Rallumer les étoiles, Star Académie, and La Voix. On stage, she has performed with dear ciminals, the Hémisphère project in collaboration with Projet Sanctuaire, and in the musical The Sound of Music (2022-2023).\nAs a chamber musician, Marilou joined the Cobalt Quartet during at Domaine Forget, took part in recordings of works by composer Philippe Paquet, joined collectif9 for numerous concerts, and is a founding member of Duo Nova, a violin-viola duet formed in 2021 with violinist Camille Poirier-Lachance.\nMarilou has been a member of the Quatuor Mémoire since 2024, giving her the opportunity to contribute to a mission that deeply inspires her: the democratization of new music, its techniques, and its contemporary composers.",
  "Audréanne Filion is a Montreal-based cellist, multi-instrumentalist, composer, and improviser recognized for her work in contemporary and experimental music.\nShe has premiered numerous works by composers including Sarah Davachi, Martin Arnold, Takuto Fukuda, Geneviève Ackerman, Jean Décarie, Simon Martin, Michael Maevsky, and many others. She is a member of Ensemble Éclat, Quatuor Mémoire, Ensemble Tesse, and Ensemble SuperMusique, and collaborates regularly with chamber ensembles and projects such as No Hay Banda, Projections Libérantes, Novarumori, Chants Libres, Quatuor Bozzini, and Opéra de Montréal.\nAs a composer-performer, Audréanne pursues a solo practice combining electroacoustic composition and cello improvisation, exploring the hybridization of instrumental and electronic languages, ambient and noise textures, and classical and experimental approaches. Her work investigates microtonality and timbral phenomena such as beating, distortion, and feedback, while engaging with themes of information saturation, aesthetic duality, and the contradictory impulses between beauty and destruction. Her music has been presented at Gaudeamus Muziekweek 2025, Festival CHIII, Soundwich, Totem Électrique XV, Interzone Editions, SAT, Codes d’Accès, Vivier InterUniversitaire, Midfield 02 and others.\nActive in the experimental pop scene, she performs with groups including Everly Lux, Jeanne Laforest and Xela Edna, and collaborates frequently with electronic musicians such as YlangYlang, Jessica Moss, Kid Koala, Erika Angell, and Myriam Bleau. Her musical endeavors have taken her to Canada, the United States, the United Arab Emirates, France, the Netherlands, Germany, and Brazil.\nAudréanne was trained at the Conservatoire de musique de Montréal, where she earned a Bachelor's degree and an Artist Diploma in cello performance (Denis Brott and Elizabeth Dolin), as well as a Bachelor's degree in electroacoustic composition (Louis Dufort and Martin Bédard).",
];

const descriptions = [
  "Quatuor Mémoire is a Montréal-based string quartet dedicated to contemporary music. Formed in 2024, the ensemble includes Bailey Wantuch and Meggie Lacombe (violins), Marilou Lepage (viola), and Audréanne Filion (cello), graduates of the Conservatoire de musique de Montréal and the Schulich School of Music at McGill University. Their name reflects their mission: to contribute to the formation of collective memory through the creation and dissemination of today’s repertoire.",
  "Since its founding, Mémoire has launched numerous creative projects, including appearances at the 8th and 9th editions of Vivier InterUniversitaire and a concert produced by Collectif Radiance featuring new works by Florence Tremblay, Louis-Michel Tougas, and Olivier St-Pierre. These works appear on the quartet’s debut album, Chronos, Kaïros et Aiôn, scheduled for release on the label Mnémosyne in November 2025. Mémoire also participated in the “4:4 Project,” a co-production between Montréal Nouvelles Musiques 2025 and INIS (Institut national de l'image et du son).",
  "In addition to new music, Mémoire has explored Canadian works from the 20th century, including quartets by Jean Coulthard, Serge Garant, and John Weinzweig. Notably, they gave the first full performance of Serge Garant’s Trois pièces pour quatuor à cordes (1958).",
  "Highlights of the 2025-2026 season include a co-production with No Hay Banda to present two new works for quartet and soprano by Lily Koslow and Hannah A. Barnes, and the premiere of Olivier St-Pierre’s concerto for string quartet alongside Ensemble Éclat as part of the SMCQ’s 60th-anniversary season. The quartet will also give workshops for student composers at McGill University and participate in a series of workshops around contemporary music creation in partnership with the Chapelle historique du Bon-Pasteur and composer Francis Battah.",
];
---

<BaseLayout title="Quatuor Mémoire">
  <div
    x-data="{ 
      fadeBg: false,
      showNavbar: false,
      scrollY: 0,
      smoothY: 0,
      init() {        
        const update = () => {
          this.smoothY += (this.scrollY - this.smoothY) * 0.1;
          requestAnimationFrame(update);
        };
        update();
      } 
    }"
    x-on:scroll.window="scrollY = window.scrollY; showNavbar = scrollY > window.innerHeight - 650"
    class="relative overflow-x-hidden overflow-y-auto transition-colors duration-1000"
  >
    <div
      class="fixed inset-0 bg-black transition-opacity duration-1000 pointer-events-none"
      :class="{ 'opacity-0': fadeBg, 'opacity-100': !fadeBg }"
    >
    </div>

    <div
      class="fixed top-0 left-0 w-screen min-h-[200vh]"
      style="background: linear-gradient(to bottom left, #44403c, #78716c, #d6d3d1);"
      transition-opacity
      duration-1000
      pointer-events-none
      will-change-transform"
      :class="{ 'opacity-100': fadeBg, 'opacity-0': !fadeBg }"
      :style="`transform: translateY(${smoothY * -0.1}px)`"
    >
    </div>

    <div
      class="fixed top-0 left-0 right-0 w-screen z-40 transition-transform duration-500 -translate-y-full"
      :class="showNavbar ? 'translate-y-0' : '-translate-y-full'"
    >
      <Navbar locale={currentLocale} page="about" />
    </div>

    <section
      class="relative z-10 flex items-center justify-center min-h-screen w-full overflow-hidden"
      x-intersect:enter="fadeBg = false"
    >
      <h1
        class="absolute inset-0 flex items-center justify-center text-center text-white text-9xl text-shadow-white text-shadow-lg font-[NeueMachinaRegular] sm:text-8xl lg:text-9xl animate-fadeIn will-change-transform transition-transform duration-300 ease-out"
        :style="`transform: translateY(${smoothY * -0.05}px)`"
      >
        Quatuor Mémoire
      </h1>
    </section>

    <section
      class="relative z-10 flex justify-center items-center min-h-[50vh] w-full overflow-hidden"
      x-intersect="fadeBg = true"
      id="about"
    >
      <div class="flex flex-col gap-1">
        <div
          class="flex text-4xl justify-center items-center text-white font-[NeueMachinaRegular]"
        >
          About Quatuor Mémoire
        </div>
        <div class="border-2 border-white w-56 h-1"></div>
      </div>
      <div
        class="flex flex-row w-11/12 gap-4 items-center justify-between max-md:flex-col max-md:gap-10"
      >
        <div
          class="w-1/2 will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.01}px)`"
        >
          <Image
            src={EB_Quator_Memoire_1}
            alt="All members of the band at Entrepöt 77 in the Mile End, Montréal"
            class="rounded-xl shadow-lg w-full h-auto"
          />
        </div>

        <div
          class="w-2/5 h-fit leading-relaxed will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.02}px)`"
        >
          <div
            class="text-2xl text-white text-right font-[BebasNeueProRegular]"
          >
            {descriptions[0].split("\n").map((par) => <p>{par}</p>)}
          </div>
        </div>
      </div>
    </section>
    <section
      class="relative z-10 flex justify-center items-center min-h-[50vh] w-full overflow-hidden"
      x-intersect="fadeBg = true"
    >
      <div
        class="flex flex-row w-11/12 gap-10 items-center justify-between max-md:flex-col max-md:gap-10"
      >
        <div
          class="w-2/5 leading-relaxed will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.02}px)`"
        >
          <div class="text-2xl text-white text-left font-[BebasNeueProRegular]">
            {descriptions[1].split("\n").map((par) => <p>{par}</p>)}
          </div>
        </div>
        <div
          class="w-1/2 will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.01}px)`"
        >
          <Image
            src={EB_Quator_Memoire_3}
            alt="All members of the band posing in front of a picnic table."
            class="rounded-xl shadow-lg w-full h-auto"
          />
        </div>
      </div>
    </section>
    <section
      class="relative z-10 flex justify-center items-center min-h-[50vh] w-full overflow-hidden"
      x-intersect="fadeBg = true"
    >
      <div
        class="flex flex-row w-11/12 gap-10 items-center justify-between max-md:flex-col max-md:gap-10"
      >
        <div
          class="w-1/2 will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.01}px)`"
        >
          <Image
            src={EB_Quator_Memoire_2}
            alt="All members of the band sitting on a concrete bench."
            class="rounded-xl shadow-lg w-full h-auto"
          />
        </div>

        <div
          class="w-2/5 leading-relaxed will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.02}px)`"
        >
          <div
            class="text-2xl text-white text-right font-[BebasNeueProRegular]"
          >
            {descriptions[2].split("\n").map((par) => <p>{par}</p>)}
          </div>
        </div>
      </div>
    </section>

    <section
      class="relative z-10 flex justify-center items-center min-h-[50vh] w-full overflow-hidden"
      x-intersect="fadeBg = true"
    >
      <div
        class="flex flex-row w-11/12 gap-10 items-center justify-between max-md:flex-col max-md:gap-10"
      >
        <div
          class="w-2/5 leading-relaxed will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.02}px)`"
        >
          <div class="text-2xl text-white text-left font-[BebasNeueProRegular]">
            {descriptions[3].split("\n").map((par) => <p>{par}</p>)}
          </div>
        </div>

        <div
          class="w-1/2 will-change-transform transition-transform duration-300 ease-out"
          :style="`transform: translateY(${smoothY * -0.01}px)`"
        >
          <Image
            src={EB_Quator_Memoire_5}
            alt="Photo of all members of the band posing in front of a building."
            class="rounded-lg shadow-lg w-full h-auto"
          />
        </div>
      </div>
    </section>
    <section
      class="relative z-10 w-full py-20 overflow-x-auto flex justify-center items-center gap-2"
    >
      <div class="flex flex-col gap-1">
        <div
          class="flex text-4xl font-[NeueMachinaRegular] justify-center items-center text-white"
        >
          The Ensemble
        </div>
        <div class="border-2 border-white w-full h-1"></div>
      </div>
      <div class="flex space-x-6">
        <div
          x-data="{ open: false }"
          class="relative w-96 h-auto cursor-pointer overflow-hidden rounded-lg shadow-lg max-sm:w-screen"
          @click="open = !open"
        >
          <Image
            src={Portrait_Bailey}
            alt="Bailey Wantuch"
            class="w-full h-full object-cover transition-transform duration-300"
            :class="{ 'scale-110': open }"
          />

          <div
            class="absolute inset-0 bg-black transition-opacity duration-300 flex items-center justify-center p-4"
            :class="{ 'opacity-80': open, 'opacity-0 pointer-events-none': !open }"
          >
            <div
              class="text-white text-base font-[EditorialNewRegular] overflow-y-auto max-h-full text-center"
            >
              {
                bios[0].split("\n").map((line) => (
                  <>
                    <p>{line}</p>
                    <br />
                  </>
                ))
              }
            </div>
          </div>
        </div>
        <div
          x-data="{ open: false }"
          class="relative w-96 h-auto cursor-pointer overflow-hidden rounded-lg shadow-lg"
          @click="open = !open"
        >
          <Image
            src={Portrait_Marilou}
            alt="Marilou Lepage"
            class="w-full h-full object-cover transition-transform duration-300"
            :class="{ 'scale-110': open }"
          />

          <div
            class="absolute inset-0 bg-black transition-opacity duration-300 flex items-center justify-center p-4"
            :class="{ 'opacity-80': open, 'opacity-0 pointer-events-none': !open }"
          >
            <div
              class="text-white text-base font-[EditorialNewRegular] overflow-y-auto max-h-full text-center"
            >
              {
                bios[1].split("\n").map((line) => (
                  <>
                    <p>{line}</p>
                    <br />
                  </>
                ))
              }
            </div>
          </div>
        </div>
        <div
          x-data="{ open: false }"
          class="relative w-96 h-auto cursor-pointer overflow-hidden rounded-lg shadow-lg"
          @click="open = !open"
        >
          <Image
            src={Portrait_Meggie}
            alt="Meggie Lacombe"
            class="w-full h-full object-cover transition-transform duration-300"
            :class="{ 'scale-110': open }"
          />

          <div
            class="absolute inset-0 bg-black transition-opacity duration-300 flex items-center justify-center p-4"
            :class="{ 'opacity-80': open, 'opacity-0 pointer-events-none': !open }"
          >
            <div
              class="text-white text-base font-[EditorialNewRegular] overflow-y-auto max-h-full text-center"
            >
              {
                bios[2].split("\n").map((line) => (
                  <>
                    <p>{line}</p>
                    <br />
                  </>
                ))
              }
            </div>
          </div>
        </div>
        <div
          x-data="{ open: false }"
          class="relative w-96 h-auto cursor-pointer overflow-hidden rounded-lg shadow-lg"
          @click="open = !open"
        >
          <Image
            src={Portrait_Audreanne}
            alt="Audréanne Filion"
            class="w-full h-full object-cover transition-transform duration-300"
            :class="{ 'scale-110': open }"
          />

          <div
            class="absolute inset-0 bg-black transition-opacity duration-300 flex items-center justify-center p-4"
            :class="{ 'opacity-80': open, 'opacity-0 pointer-events-none': !open }"
          >
            <div
              class="text-white text-base font-[EditorialNewRegular] overflow-y-auto max-h-full text-center"
            >
              {
                bios[3].split("\n").map((line) => (
                  <>
                    <p>{line}</p>
                    <br />
                  </>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
